.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tagItem {
    width: max-content;
    padding: 0 0.5rem 0 0.5rem;
    background: rgb(77 181 255 / 44%);
    border-radius: 1rem;
    color: var(--color-white);
}
