nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 1.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    right: 0%;
    transform: translateX(-50%);
    bottom: 2rem;
    gap: 2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9 rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0,0,0,0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
        right: 50%;
        transform: translateX(50%);
    }
}
